@font-face { font-family: bariol; src: url(fonts/bariol.ttf); }
@font-face { font-family: bariolItalic; src: url(fonts/bariolItalic.ttf); }
@font-face { font-family: bariolSerif; src: url(fonts/bariolSerif.ttf); }
@font-face { font-family: bariolSerifItalic; src: url(fonts/bariolSerifItalic.ttf); }


body{
  width: 101%;
  height: 95%;
  margin: auto;
}

#contenido{
  width: 90%;
  height: auto;
  margin: 0px auto;
}

#dLogo{
  text-align: center;
  width: auto;
  height: auto;
  margin: 15% auto 0;
}

#imgAidmeds{ width: 750px; }

#bari{
  font-family: bariol;
  font-size: 39px;
  color: #696868;
  margin: 15px auto;
  width: 100%;
  text-align: center;
}


.clearBoth{ clear: both;}
#clearBoth{ clear: both;}

/* NUEVO REGISTRO  */
.fReg p{
  font-family: bariol;
  font-size: 15px;
  color: #a2a0a0;
  letter-spacing: 0px;
  margin: 0;
}
.fReg .dCont1 input, .fReg select{
  width: 162px;
  height: 25px;
  font-family: bariol;
  font-size: 15px;
  color: #49494a;
}
.fReg .dCont2 input, .fReg select{
  width: 200px;
  height: 25px;
  font-family: bariol;
  font-size: 15px;
  color: #000000;
}
.dCont2{ width: 99%; margin: 20px auto 0; height: 60px;}
.dCont2 div { float: left; margin: 20px 40px; text-align: left;}
.dCont2-1{margin: 5px auto 0 !important;}

.contReg{
  width: 860px;
  margin: 90px auto 0;
  text-align: center;
  background: rgba(239,239,239,0.9);
  height: 545px;
  border: 1px solid #bdb5b5;
  box-shadow: 5px 5px 11px grey;
}

.dCont1 div{ margin: 30px 40px 20px !important;}



.dBotR{ margin: 20px 346px; float: left; }
.dBotR input{ width: 160px;font-family: bariol;font-size: 17px; }

#escP2, #escP23 { display: none;}

.fPEM{ width: 100%; border: 0; height: 69px; }
.bPEM{ background: transparent; overflow: hidden;}
.espPEM{    margin-right: -5px !important;}
#bReg{
  border: 1px solid #cac3c3;
  border-radius: 3px;
  width: 161px;
  height: 28px;
  font-size: 18px;
  font-family: bariol;
  letter-spacing: 3px;
  background: #d8dada;
  font-weight: bold;
  cursor: pointer;
  color: #00a6b7;
  box-shadow: 3px 3px 4px grey;
  padding: 0px;
}
#bReg:active{
  box-shadow: none;
  font-size: 16px;
  padding: 2px;
  background: #cbcccc;
}
.rTittle{
  width: 100%;
  font-size: 28px;
  font-family: bariol;
  margin: 15px 0 -15px 0;
  color: #272727;
}
.chP{
  width: 15px !important;
  height: 15px !important;
}
.aPPA{
  color: #717171 !important;
  font-size: 14px !important;
  font-weight: bold;
}
#appa{
  opacity: 0;
  transition: 0.8s;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #fff;
  border: 10qx solid black;
}

/*FICHA DE PAGO E INSTRUCCIONES*/
.bodyFicha{
  width: 100%;
  height: auto;
  background-image: url(../images/fondo6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ficha{
  width: 75%;
  height: 500px;
  border: 3px solid;
  margin: 115px auto;
  border: 1px solid #adadad;
  background: rgba(250,250,250,0.85);
  box-shadow: -3px -3px 10px grey;
}
.tFicha{
  text-align: center;
  width: 90%;
  margin: 60px auto 25px;
  font-family: bariol;
  font-size: 22px;
  color: #00a6b7;
  font-weight: bold;
  letter-spacing: 1px;;
}
.ficha li {
  font-family: bariol;
  font-size: 15px;
  margin: 20px auto;
  letter-spacing: 1px;
  color: #3a3a3a;
}
.foFicha{
  font-family: bariol;
  font-size: 18px;
  margin: 35px auto;
  text-align: center;
  color: #000;
}
.bFicha{
  width: 100%;
  text-align: center;
}
.botFicha{
  width: 101px;
  margin: 10px 65px;
  font-family: bariol;
  font-size: 15px;
  cursor: pointer;
}
.menuFicha{
  font-family: bariol;
  font-size: 39px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  background: #009EAF;
  position: absolute;
  top: 0;
  height: 60px;
}
#logoFicha{
  width: 180px;
  float: left;
  margin: -15px 0px 0 7px;
}
.ulFicha{
  width: 85%;
  margin: 0 auto;
}
.ulFicha li {list-style: none;}
#hideTittle{
  font-family: bariol;
  font-size: 32px;
  color: #696868;
  display: none;
  margin: 35px auto -80px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 970px){
  .ficha{ width: 80%; }
  .ulFicha { width: 95%; }
 }

/*AVISO DE PRIVACIDAD Y POLITICAS DE AFILIACION*/
#contAP p, #contAP li {
    font-size: 15px;
    text-align: justify;
}
#tiAP{
  font-family: bariol;
  font-size: 30px;
  margin: -10px auto 15px;
  text-align: center;
}
#taAP tr td{ border: 1px solid black; padding: 25px; font-family: Arial;}
#taAP tr td:first-child {
  width: 30%;
  vertical-align: top;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}
#taAP tr td:last-child {
  width: 70%;
  font-size: 13px;
}
#bAP{
  width: 100px;
  font-family: bariol;
  font-size: 15px;
  margin: 20px 0 0 30px;
}
#pBAP{
  width: 100%;
  margin: 20px auto 40px;
  text-align: center;
}
#bPA{
  width: 100px;
  font-family: bariol;
  font-size: 15px;
  margin: 20px 0 0 30px;
}
#conPA{
  width: 80%;
  margin: 0 auto;
}
#lAct{text-align: center; margin-top: -13px; font-family:!arial; font-size: 13px;}
#conPA p{
  font-size: 15px;
  font-family: bariol;
  text-align: justify;
}
.sAPPA{
  cursor: pointer;
  color: #030786;
  text-decoration: underline;
}
#tPolAfi { margin: 0 auto; border-collapse:collapse; border: none;}
#tPolAfi tr td, #tPolAfi tr th{
  border: 1px solid black;
  text-align: left;
  vertical-align: middle;
  padding: 3px 10px;
  font-size: 15px;
}

.bariol{ font-family: bariol;}

/*EVENTOS*/
#bodyEventos{
  width: 100%;
  height: auto;
  background-image: url(../images/prox1Bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#contenidoEv{
  width: 90%;
  height: auto;
  margin: 80px auto;
  font-family: bariol;
  background: rgba(255,255,255,0.7);
}
#prox1 h1{ font-size: 20px;}
#prox1{ text-align: center;  border: 3px solid;}
#prox1 #encabezadoP1 { letter-spacing: 1px;}
#prox1 .tit2{ font-size: 18px; color: #d22323; font-weight: bold;}
#prox1 p, #prox1 li{ font-size: 15px;}
#prox1 #encabezadoP1 p { font-size: 17px;}
.proProx1{ text-align: left; margin: 0 auto; width: 65%;}
#prox1 li { margin: 6px 0 0 0 ;}
#imgProx1{ width: 700px; }

#prox2 h1{ font-size: 20px; text-align: center;}
#prox2{ border: 3px solid;}
#prox2 div{
  text-align: justify;
  width: 60%;
  margin: 0 auto;
  font-size: 15px;
}
#btnProx2{
  margin: 25px auto;
  width: 100px;
  text-align: center;
  height: 27px;
  border: 4px solid #009eaf;
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.5s;
  background: #009eaf;
  color: #fff;
}
#btnProx2:hover{
  border: 4px solid #868686;
  background: transparent;
  color: #000;
}

/*FORMULARIO DE PROYECTOS*/
.bodyProy{
  width: 100%;
  height: auto;
  background: #f5e9dc;
}
#contProy{
  width: 900px;
  height: 390px;
  border: 2px solid;
  margin: 100px auto 60px;
  background: #f3f3f3;
  box-shadow: 12px 10px 9px #949494;
}
#contProy .title {
  text-align: center;
  font-family: bariol;
  font-size: 26px;
  margin: 5px 0 30px 0;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  color: #2d2d2d;
  font-weight: bold;
}
#contProy .subt {
  margin: 55px 0 20px 35px;
  font-family: bariol;
  font-size: 19px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 2px;
  color: #009eaf;
}
.rD1{ width: 100%; text-align: center;}
.rI1{ width: 22%; text-align: center;  margin: 5px 14px 20px 0; }
.rD2{ width: 100%; text-align: center; font-family: bariol; margin-top: 10px;}
.rI2{ width: 22%; text-align: center;  margin: 5px 0 20px 25px; }
.rD3{ width: 100%; text-align: right; }

#contProy .test { width: 100%; margin: 0 0 0 20px; }
#contProy .test p {
  float: left;
  font-size: 15px;
  font-family: bariol;
}
#contProy .test p:first-child {width: 20%; margin: 20px 0px 20px 30px; }
#contProy .test p:last-child { width: 70%; margin: 20px 0px 20px 30px; }
#contProy .test #poblacion { width: 70%; margin: 20px 0px 20px 30px; }
#contProy .i1 { width: 70%; }
#contProy .i2 { width: 35%; }
#contProy .text1{ width: 70%;  height: 70px;}
#contProy input, #contProy textarea, #contProy select {
  font-family: bariol;
  font-size: 15px;
  border: 1px solid #695f5f;
  text-align: center;
}

#poblacion div {
  float: left;
  width: 21%;
  margin: 0px 60px 0 26px;
}
#idAIMEDS{ display: none;}
#sQues{ margin-right: 30px; font-size: 15px;}
.EscP2P{
  display: inline;
  margin: -15px 33px 10px 0;
  font-family: bariol;
  font-size: 15px;
  border: 1px solid #695f5f;
  text-align: center;
  width: 22%;
}
#dirOtText{ width: 175px; opacity: 0; transition: 0.5s;}
#chaDate { margin: 0 0px 0 15px; color: #0808ff;  cursor: pointer; }
#fech2{ display: none; }
#guion{ display: none;}
.vis { display: inline !important; }
#pubFis,#pubRS { opacity: 0; width: 250px;}
#pubFis{ margin-left: 84px;}
#pubRS{  margin-left: 30px;}

#fPart2, #fPart3 { display: none;}
#Mostrar1, #Mostrar2 {  margin: 35px 41% 20px;   float: left;}
#Mostrar {  margin: 50px 133px 0px; float: left;}
#bMostrar1, #bMostrar2, #bMostrar3 {
  border: 1px solid #616161;
  width: 175px;
  text-align: center;
  height: 19px;
  font-family: bariol;
  font-size: 15px;
  border-radius: 5px;
  padding: 3px;
  background: #737373;
  color: #ffffff;
  box-shadow: 3px 2px 4px #616161;
  cursor: pointer;
}
#bMostrar1:active, #bMostrar2:active{
  font-size: 13px;
}
.hrProy{
  width: 100%;
  height: 2px;
  background: #000;
  margin-bottom: 30px;
}
#dObj{ width: 70%; float: left; min-height: 75px; margin-bottom: 30px;}
#tObj{ margin: 0 0 0 30px;  width: 442px;  border: 1px solid; border-collapse: collapse; }
#tbOb td { text-align: center;  border: 1px solid; font-size: 15px; font-family: bariol;}
#tpres{ margin: 0 0 0 30px;  width: 600px;  border: 1px solid; border-collapse: collapse;}
#tpres th:nth-child(1){ width: 179px;}
#tpres th:nth-child(2){ width: 65px;}
#tpres th:nth-child(3){ width: 85px;}
#tpres th:nth-child(4){ width: 85px;}
#tpres th:nth-child(5){ width: 157px;}
#tpres th:nth-child(6){ width: 21px;}
#tbpres td { text-align: center;  border: 1px solid; font-size: 15px; font-family: bariol;}
#gTotal{
  margin: 10px 0 0 277px !important;
  border: 1px solid;
  width: 43px !important;
  padding: 3px 20px !important;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-top: 2px solid;
}
#gTotal2{
  margin: 10px 0 0px 0px !important;
  border: 1px solid;
  width: 43px !important;
  padding: 3px 20px !important;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
}
#addObj{
  width: 123px !important;
  margin: -27px 0px 0px 0 ;
  float: right !important;
  border: 1px solid #215c63;
  padding: 5px;
  height: 15px;
  cursor: pointer;
  color: #fff;
  background: #009eaf;
  box-shadow: 2px 2px 3px #545656;
   text-align: center !important;
}
#addObj:active { font-size: 13px !important; background: #057986; box-shadow: none;}


#addObjetivo { opacity: 0; transition: 0.7s; position: absolute; z-index: -99;}
#addObjetivo div{ width: 450px;  height: 200;  background: #009eaf; }
#addObjetivo #tit1{
  text-align: center;
  color: #fff;
  font-family: bariol;
  font-size: 19px;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
}
#descObj{
  width: 93%;
  margin: 0 0 0 17px;
  text-align: left;
  padding: 2px;
  height: 20px;
  font-family: bariol;
  font-size: 15px;
}
#sendObj{
  margin: 30px 0px 0 39%;
  border: 1px solid #949e9b;
  width: 78px;
  font-family: bariol;
  font-size: 17px;
  text-align: center;
  height: 21px;
  padding: 3px;
  background: #aeafaf;
  color: #000;
  letter-spacing: 1px;
  box-shadow: 3px 3px 5px #696464;
  cursor: pointer;
}
.sepProy{
  width: 50%;
  height: 27px;
  border: #f3f3f3 solid;
}
#sendObj:active{ font-size: 16px; background: #919292; box-shadow: none; border: none;}
#closeObj{float: right;
    margin: 2px 5px 0px 0px;
    color: fff;
    cursor: pointer;}

.dObjM{ margin: 0 0 20px 0;}

#addAut{
  width: 123px !important;
  margin: -27px 0px 0px 0;
  float: right !important;
  border: 1px solid #215c63;
  padding: 5px;
  height: 15px;
  cursor: pointer;
  color: #fff;
  background: #009eaf;
  box-shadow: 2px 2px 3px #545656;
  text-align: center !important;
}
#addAut:active { font-size: 13px !important; background: #057986; box-shadow: none;}


#addPres{
  width: 123px !important;
  margin: 10px 0px 0  0;
  float: right !important;
  border: 1px solid #215c63;
  padding: 5px;
  height: 15px;
  cursor: pointer;
  color: #fff;
  background: #009eaf;
  box-shadow: 2px 2px 3px #545656;
  text-align: center !important;
}
#addPres:active { font-size: 13px !important; background: #057986; box-shadow: none;}
#addPresu{ opacity: 0; transition: 0.7s; position: absolute; z-index: -99;}
#addPresu div{ width: 450px;  height: 380px;  background: #009eaf; }
#addPresu #tit1{
  text-align: center;
  color: #fff;
  font-family: bariol;
  font-size: 19px;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
}



#addPersona { opacity: 0; transition: 0.7s; position: absolute; z-index: -99;}
#addPersona div{ width: 450px;  height: 200;  background: #009eaf; }
#addPersona #tit1{
  text-align: center;
  color: #fff;
  font-family: bariol;
  font-size: 19px;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
}

#addRH{
  width: 123px !important;
  margin: -27px 0px 0px 0;
  float: right !important;
  border: 1px solid #215c63;
  padding: 5px;
  height: 15px;
  cursor: pointer;
  color: #fff;
  background: #009eaf;
  box-shadow: 2px 2px 3px #545656;
   text-align: center !important;
}
#addRH:active { font-size: 13px !important; background: #057986; box-shadow: none;}

#addAuto { opacity: 0; transition: 0.7s; position: absolute; z-index: -99;}
#addAuto div{ width: 450px;  height: 200;  background: #009eaf; }
#addAuto #tit1{
  text-align: center;
  color: #fff;
  font-family: bariol;
  font-size: 19px;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
}
#sendAuto{
  margin: 30px 0px 0 39%;
  border: 1px solid #949e9b;
  width: 78px;
  font-family: bariol;
  font-size: 17px;
  text-align: center;
  height: 21px;
  padding: 3px;
  background: #aeafaf;
  color: #000;
  letter-spacing: 1px;
  box-shadow: 3px 3px 5px #696464;
  cursor: pointer;
}
#sendAuto:active{ font-size: 16px; background: #919292; box-shadow: none; border: none;}
#sendPres{
  margin: 30px 0px 0 39%;
  border: 1px solid #949e9b;
  width: 78px;
  font-family: bariol;
  font-size: 17px;
  text-align: center;
  height: 21px;
  padding: 3px;
  background: #aeafaf;
  color: #000;
  letter-spacing: 1px;
  box-shadow: 3px 3px 5px #696464;
  cursor: pointer;
}
#sendPres:active{ font-size: 16px; background: #919292; box-shadow: none; border: none;}
#closePres{float: right;
    margin: 2px 5px 0px 0px;
    color: fff;
    cursor: pointer;}
#closeAuto{float: right;
    margin: 2px 5px 0px 0px;
    color: fff;
    cursor: pointer;}


#sendPer{
  margin: 30px 0px 0 39%;
  border: 1px solid #949e9b;
  width: 78px;
  font-family: bariol;
  font-size: 17px;
  text-align: center;
  height: 21px;
  padding: 3px;
  background: #aeafaf;
  color: #000;
  letter-spacing: 1px;
  box-shadow: 3px 3px 5px #696464;
  cursor: pointer;
}
#sendPer:active{ font-size: 16px; background: #919292; box-shadow: none; border: none;}
#closePer{float: right;
    margin: 2px 5px 0px 0px;
    color: fff;
    cursor: pointer;}

.inPers{
  width: 60%;
  margin: 0 0 0 80px;
  text-align: left;
  padding: 2px;
  height: 20px;
  font-family: bariol;
  font-size: 15px;
}
#fFPro{display: none;}


/* //// INDEX USUARIO //// */

#bodyUsuario{
  width: 100%;
  background: #d2d0d0;
  background: #3B3B3B url(../images/fondoAreaAf.jpg) no-repeat center center;
  background-size: cover;
}
#bodyUsuario #contenido{
  margin: 30px auto 30px;
  width: 1050px;
  border: 5px solid #cccccc;
  background: #f2f2f2;
}

#bodyUsuario #preCont{
  margin: 30px auto 0px;
  width: 1050px;
  background: transparent;
}

#preCont #titulo{
  font-size: 22px;
  font-family: bariol;
  width: 100%;
  text-align: left;
}
#preCont #titulo2{
  margin-top: -15px;
  font-size: 15px;
  font-family: bariol;
  width: 100%;
  text-align: left;
}
#bodyUsuario #subt{
  font-size: 17px;
  font-family: bariol;
  width: 100%;
  text-align: center;
}

#bodyUsuario #opCont{
  width: 100%;
  height: 60px;
}
#opCont #opIzq, #opCont #opDer{
  width: 50%;
  float: left;
  text-align: center;
  line-height: 45px;
  font-family: bariol;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
#opCont #opIzq{ background: #f2f2f2; color: #000; }
#opCont #opDer{  background: #cccccc; color: #18a5b7;}

#bodyUsuario .anIzq{
  width: 300px;
  height: 190px;
  margin: 35px 0 35px 65px;
  float: left;
}
#bodyUsuario .anDer{
  float: left;
  width: 200px;
  height: 200px;
}

#bodyUsuario .anMed{
  width: 425px;
  height: 200px;
  margin: 35px 0 35px 30px;
  float: left;
}



.anIzq .img{
  width: 275px;
  height: 185px;
  padding: 12px 12px;
  text-align: center;
}

.anMed p:nth-child(1){
  width: 100%;
  text-align: left;
  font-size: 25px;
  font-family: bariol;
  letter-spacing: 1px;
}
.anMed p:nth-child(2) {
  width: 85%;
  text-align: justify;
  font-size: 15px;
  font-family: bariol;
  padding: 0 0px;
}

.anDer .btn1{ width: 100%; margin: 100px auto; text-align: center;}
.btn1 p{
  width: 115px !important;
  border: 1px solid #18a5b7 !important;
  margin: 30px auto 0;
  padding: 8px;
  background: #18a5b7;
  cursor: pointer;
  color: #fff;
  font-family: bariol;
  font-size: 15px;
}
.btn1 p:hover{ color: #fff700; }

.anMed #costo1, .anMed #costo2{
  width: 37%;
  text-align: center;
  font-family: bariol;
  font-size: 15px;
  margin: 5px 30px 0 10px;
}
.anMed #costo1{ float: left;}
.anMed #costo2{ float: left;}

.menuUser{float: right; font-size: 19px; margin: 20px 45px 0 0; cursor: pointer; }
.menuUser a{ text-decoration: none; color: #fff;  }
#dImgAF{
  margin: 59px 0 0 0;
  width: 100%;
  height: 250px;
  background: #3B3B3B url(../images/areaAf.jpg) no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
#dImgAF h1{
  font-family: bariol;
  font-size: 33px;
  text-align: center;
  padding: 35px 0 0 0;
  letter-spacing: 4px;
}
#dImgAF p {
  width: 520px;
  margin: 0 auto;
  text-align: justify;
  font-family: bariol;
  font-size: 17px;
  line-height: 20px;
}

#beneficiosA{
  width: 100%;
  float: left;
}
#miAct{
  width: 100%;
  float: left;
  display: none;
}
#noAct{
  width: 100%;
  text-align: center;
  margin: 50px 0 0 0;
  font-size: 30px;
  font-family: bariol;
}

/*BECA*/
.beca{
  width: 100%;
  height: auto;
  background-image: url(../images/prox1Bg.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#contBeca{
  margin: 100px auto;
  width: 800px;
  background: rgba(255, 255, 255, 0.74);
  color: #000;
  border: 2px solid grey;
  padding: 25px 40px;
}
#titB{
  font-family: bariol;
  font-size: 22px;
  text-align: center;
  width: 80%;
  margin: 0 auto 30px;
}
#normalP{
  font-family: bariol;
  font-size: 15px;
  line-height: 22px;
}
#aBeca{
  font-family: bariol;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}
#aBeca a{
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

#solBeca{
  width: 130px;
  margin: 0 auto;
  padding: 10px;
  font-family: bariol;
  text-align: center;
  font-size: 18px;
  background: #009eaf;
  color: #ffffff;
  border: 3px solid #005d67;
  cursor: pointer;
  box-shadow: 4px 2px 4px grey;
  letter-spacing: 2px;
  font-weight: bold;
}
#petBeca{
  width: 130px;
  margin: 0 auto;
  padding: 10px;
  font-family: bariol;
  text-align: center;
  font-size: 17px;
  background: #00646f;
  color: #ffffff;
  border: 3px solid #13b6c7;
  box-shadow: 4px 2px 4px grey;
  letter-spacing: 2px;
  font-weight: bold;
}
.btn1 a{text-decoration: none; color: #000;}
.yell{background: rgba(255, 235, 0, 0.4);}
.mnsjB1{
  width: 100%;
  text-align: center;
  background: rgba(160, 9, 9, 0.84);
  color: #fff;
  font-family: bariol;
  font-size: 15px;
}

#mnsjError{
  background: rgba(128, 3, 3, 0.78);
  color: #fff;
  width: 100%;
  text-align: center;
}
.center{ text-align: center; }
/*FORLUMAIO DE REGISTRO DEFAULT*/
#bodyFormD{ height: auto !important;}
#contFormD{
  border: 1px solid black;
  margin: 100px auto 80px;
  width: 850px;
  height: 930px;
  background: rgba(236, 236, 236, 0.8);
}

/*PRIMERA GUARDIA*/
#opRegPG p:active{
  background: #009eaf;
  color: #fff;
  border: 1px solid black;
  box-shadow: none;
}
#opRegPG p{
  float: left;
  width: 250px;
  border: solid 1px;
  text-align: center;
  margin: 35px 0px -5px 95px;
  padding: 5px 15px;
  background: #fffab7;
  font-family: bariol;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 3px 3px 3px grey;
  letter-spacing: 1px;
  line-height: 18px;
}
.actBtnPG{
  background: #009eaf !important;
  color: #fff !important;
  border: 1px solid black !important;
  box-shadow: none !important;
}
#divReg1{ display: none; width: 100%; float: left;}
#divReg2{ display: none; width: 100%; float: left; }
#divReg3{ display: none; width: 100%; float: left; }

.dCont2PG input, .dCont2PG select{
  width: 200px;
  height: 25px;
  font-family: bariol;
  font-size: 15px;
  color: #000000;
}
.dCont2PG{ width: 99%; margin: 20px auto 0; height: 60px; text-align: center; float: left;}
.dCont2PG span {
  margin: 0 0 0 25px;
  font-family: bariol;
  font-size: 15px;
  vertical-align: super;
}
.dCont2PG div { float: left; margin: 20px 40px; text-align: left; width: 23%;}
.dCont2PG p { font-family: bariol; font-size: 15px; margin: 5px 0 0 0;}

#tiregPG{
  text-align: center;
  color: #0b7884;
  font-size: 22px;
  font-family: bariol;
  letter-spacing: 0px;
  font-weight: bold;
  margin: 7px 0 -15px 0;
}
#tiregPG2{
  text-align: center;
  color: #414142;
  font-size: 26px;
  font-family: bariol;
  letter-spacing: 2px;
  margin: 25px 0 0px 0;
  font-weight: bold;
}


.prom { padding: 0 3px; font-size: 15px !important; color: #000000;}
#errPG{
  width: 100%;
  float: left;
  margin: 75px 0;
  text-align: center;
  font-family: bariol;
  font-size: 20px;
  color: #fff;
  background: #880606;
  padding: 20px 0;
  transition: 1s;
}
.btnSub{
  width: auto;
  font-family: bariol;
  font-size: 17px;
  padding: 5px 60px;
  cursor: pointer;
}
.radioPG{
  width: 20px !important;
  margin: 0px 19px 0 10px !important;
}
#enf2,#alg2,#med2,#enf22,#alg22,#med22{ display: none;}
/**/
.tPG{ font-size: 15px; border-collapse: collapse;}
.tPG th {
  border: 2px solid #0c5a63;
  background: #007c8a;
  color: #fff;
  letter-spacing: 1px;
}
.tPG td {
  border: 2px solid #0c5a63;
  padding: 0 7px;
  font-size: 13px;
}
.tPG thead tr:nth-child(2) th:nth-child(1) { width: 16%; }
.tPG thead tr:nth-child(2) th:nth-child(2) { width: 50%; }
.tPG thead tr:nth-child(2) th:nth-child(3) { width: 34%; }
#receso { text-align: center; background: #ffe7a2;}
#cuotaPG{text-align: center;  font-size: 19px;}

/*PROYECTOS INDEX*/
#titIP {
  margin: 100px auto 0;
  text-align: center;
  width: 100%;
  font-family: bariol;
  font-size: 22px;
  letter-spacing: 1px;
}
#cuerpoIProy{ margin: 50px auto 0; text-align: center; width: 100%;}
#cuerpoIProy a { text-decoration: none;}
#cuerpoIProy .btnC {
  padding: 5px 20px;
  font-family: bariol;
  font-size: 17px;
  margin: 0 55px;
  letter-spacing: 1px;
  width: 185px;
  cursor: pointer;
}
#datProy{
  margin: 50px auto;
  text-align: center;
  width: 100%;
}
#datProy p{font-family: bariol;  font-size: 17px;}
#datProy input{font-family: bariol;  font-size: 17px; text-align: center;}
#datProy #sendP { margin: 15px 0 0 0;  width: 155px; padding: 1px 0;}

#contRepP{
  margin: 100px auto;
  width: 900px;
  border: solid;
  padding: 50px 0;
  min-height: 400px;
  background: #f3f3f3;
  font-family: bariol;
}
#tAllP{ width: 85%;  margin: auto;  border: solid; font-family: bariol; border-collapse: collapse;}
#tAllP th:nth-child(1){ width: 20%; }
#tAllP th:nth-child(2){ width: 40%; }
#tAllP th:nth-child(3){ width: 30%; }
#tAllP th:nth-child(4){ width: 10%; }
#tAllP th {font-size: 19px; letter-spacing: 1px; border: 2px solid;}
#tAllP td {font-size: 17px; border: 2px solid; text-align: center;}
#oRepP{text-decoration: none; color: #3443f3; font-size: 19px; }
.contPP{ width: 85%; margin: -1px auto; border: 1px solid;}
.contPP p{ float: left; }
.contPP p:nth-child(1){ width: 16%; font-size: 16px; font-weight: bold; letter-spacing: 1px; padding: 0 15px;}
.contPP p:nth-child(2){ width: 80%; font-size: 15px;}

.contPP2{ width: 85%; margin: 50px auto;}
.contPP2 div{ float: left; text-align: center; }
.contPP2 div:nth-child(1){ width: 50%; font-size: 16px; }
.contPP2 div:nth-child(2){ width: 50%; font-size: 16px;}

.contPP3{ width: 100%; text-align: center;}
.marti { margin-top: 155px !important;}
.titTPP{
  margin: 0 auto 15px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
#titPP{
  margin: 0 auto 15px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
}
#gTot {
  width: 142px;
  border: 1px solid;
  margin: 5px 0px 0 449px;
  font-size: 15px;
}
#gtot p { float: left; width: 50%;}
#tPP {border-collapse: collapse; width: 85%; font-size: 15px; margin: 0 auto;}
#tPP th { border: 1px solid;}
#tPP td { text-align: center; border: 1px solid;}
.salto ,#salto{ page-break-before: always; page-break-inside: avoid;}
/**/
/**/

@media print {
      .botFicha{opacity: 0;}
      .ficha{ box-shadow: none;  width: 700px; height: 400px; background: rgba(239,239,239,1.0);}
      .tFicha{ font-size: 18px}
      #bari{ font-size: 26px;}
      #contenido{ height: 64%;}
      .bodyFicha{ background-image: none; }
      .menuFicha { display: none;}
      #hideTittle{ display: block;}
      .bodyProy, #contRepP { background: transparent;}
      #contRepP { border: none; margin-top: 0; }

    }
